src/main/mule/shop-management.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="shop-main">
        <http:listener config-ref="shop-httpListenerConfig" path="/api/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="shop-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="shop-console">
        <http:listener config-ref="shop-httpListenerConfig" path="/console/*" doc:id="8f84d5be-d994-4c9e-be24-c77b89c40376">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="shop-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="put:\customers\(customerId):application\json:shop-config">
		<flow-ref doc:name="Update Customer Flow" doc:id="ea9dfb3a-73fa-4a43-b299-dfb68fa6f9e4" name="implementation_UpdateCustomer"/>
        
    </flow>
    <flow name="put:\employees\(employeeId):application\json:shop-config">
		<flow-ref doc:name="Update Employee Flow" doc:id="b869001f-4d30-4361-aa08-45a858b1a972" name="implementation_UpdateEmployee"/>
        
    </flow>
    <flow name="put:\products\(productId):application\json:shop-config">
		<flow-ref doc:name="Update Product Flow" doc:id="8bd0aab5-581b-4397-904f-be655bb7dda8" name="implementation_UpdateProduct"/>
        
    </flow>
    <flow name="put:\purchaseInfos\(purchaseInfoId):application\json:shop-config">
		<flow-ref doc:name="Update PurchaseInfo Flow" doc:id="06ab13d4-597e-45f1-97a5-53d9043c46a6" name="implementation_UpdatePurchaseInfo"/>
        
    </flow>
    <flow name="delete:\customers\(customerId):shop-config">
		<flow-ref doc:name="Delete Customer Flow" doc:id="540bd4ae-db29-4003-8c6a-b83638bd4a0b" name="implementation_DeleteCustomer"/>
        
    </flow>
    <flow name="delete:\employees\(employeeId):shop-config">
		<flow-ref doc:name="Delete Employee Flow" doc:id="ed9e4a4e-3e83-4de2-a03f-5798d9cc7e2d" name="implementation_DeleteEmployee"/>
        
    </flow>
    <flow name="delete:\products\(productId):shop-config">
		<flow-ref doc:name="Delete Product Flow" doc:id="5dc9232a-c46c-457d-84c2-211ff7a259c1" name="implementation_DeleteProduct"/>
        
    </flow>
    <flow name="delete:\purchaseInfos\(purchaseInfoId):shop-config">
		<flow-ref doc:name="Delete PurchaseInfo Flow" doc:id="7547a548-84d4-4c66-8eae-7d4094ed1f99" name="implementation_DeletePurchaseInfo"/>
        
    </flow>
    <flow name="get:\employees\(employeeId):shop-config">
		<flow-ref doc:name="Get EmployeeById Flow" doc:id="6394f999-4462-47ab-b6c6-0f2f2307da6a" name="implementation_getEmployeeById"/>
        
    </flow>
    <flow name="get:\purchaseInfos\(purchaseInfoId):shop-config">
		<flow-ref doc:name="Get PurchaseInfoById" doc:id="afbd98f0-0898-4292-a255-6cdecb5e5909" name="implementation_GetPurchaseInfoById"/>
       
    </flow>
    <flow name="get:\products:shop-config">
        <flow-ref doc:name="Get Products Flow" doc:id="1263b827-3fc2-476b-a98a-ec1bfd1e6b92" name="implementation_getProducts_Flow" />
    </flow>
    <flow name="get:\employees:shop-config" doc:id="e6e9572e-7ecc-42de-90f2-48928ff89870">
        <flow-ref doc:name="Get Employees Flow" doc:id="af02f97b-e4e5-431c-83f5-8970d7bc4c81" name="implementation_getEmployees_Flow" />
    </flow>
    <flow name="get:\customers:shop-config" doc:id="6dd4e3a8-b72a-4fc3-9fa9-60e1bf83cdb2">
        <flow-ref doc:name="Get Customers Flow" doc:id="d75916c9-0e7f-42e9-9775-38877cda8ee4" name="implementation_getCustomers_Flow" />
    </flow>
    <flow name="get:\purchaseInfos:shop-config" doc:id="de09389a-7c23-45f1-a285-d1b1f9437f95">
        <flow-ref doc:name="Get PurchaseInfos Flow" doc:id="f229bbc1-f036-491a-82e6-9afd76650b6f" name="implementation_getPurchaseInfos_Flow" />
    </flow>
    <flow name="post:\products:application\json:shop-config">
		<flow-ref doc:name="Insert Products Flow" doc:id="4b71b812-a611-4a80-ad08-33bd49cbc914" name="implementation_PostProduct"/>
        
    </flow>
	<flow name="post:\customers:application\json:shop-config">
		<flow-ref doc:name="Insert Customer Flow" doc:id="d2783052-211c-4cdd-84b9-e409111fb334" name="implementation_PostCustomer"/>
		
    </flow>
	<flow name="post:\employees:application\json:shop-config">
		<flow-ref doc:name="Insert Employee Flow" doc:id="f4b9d2b2-9e4a-4561-8693-f4353c7057f8" name="implementation_PostEmployee"/>
        
    </flow>
	<flow name="post:\purchaseInfos:application\json:shop-config">
		<flow-ref doc:name="Insert PurchaseInfo Flow" doc:id="120a7b41-581a-4b24-9f18-208a32e0fb3b" name="implementation_PostPurchaseIndo"/>
        
    </flow>
    <flow name="get:\products\(productId):shop-config">
        <flow-ref doc:name="Get ProductById Flow" doc:id="0d83c0dc-ae41-426e-8a47-f5b853e5d1bd" name="implementation_getProductById" />
    </flow>
	<flow name="get:\customers\(customerId):shop-config">
		<flow-ref doc:name="Get CustomerById Flow" doc:id="495af9e9-679c-42e7-a50b-3b8c8f9206fb" name="implementation_getCustomerById"/>
    </flow>
</mule>
